<div class="container">
    <div class="row">
        <div class="col-12 col-md-6" >
            <div class="card">
                <div class="card-body">
                    <h3 class="text-primary">
                        {{singlePost?.title}}</h3>
                    <p>{{singlePost?.body}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h3>latest posts</h3>
            <ul class="list-unstyled">
                <!-- <li *ngFor="let post of posts | slice : 0 : 3">{{post.title}}</li> -->
                <li *ngFor="let post of posts | slice : -3" 
                routerLink="/posts/{{post.id}}">{{post.title}}</li>
            </ul>
        </div>
    </div>
</div>