<div class="row">
    <div class="col-4" *ngFor="let item of posts | paginate: { id: 'posts',
    itemsPerPage: pageSize,
    currentPage: p,
    totalItems: total }">
        <div class="card">
            <div class="card-body">
                <h2>{{item.title}}</h2>
                <p>{{item.body}}</p>
            </div>
        </div>
    </div>
    <pagination-controls  id="posts"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      [maxSize]="5"
                      [directionLinks]="true"
                      [autoHide]="true"
                      [responsive]="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
</div>